# Dependencies
node_modules

# Next.js build output
.next
build
out

# Environment variables
.env.local
.env
.env.*

# Prisma
/app/generated/prisma

# Python Virtual Environments
.venv
venv/

# IDE / Editor settings
.vscode