-- CreateTable
CREATE TABLE "Patient" (
    "id" SERIAL NOT NULL,
    "patientId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "designation" TEXT,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "gender" TEXT NOT NULL,
    "ageY" INTEGER DEFAULT 0,
    "ageM" INTEGER DEFAULT 0,
    "ageD" INTEGER DEFAULT 0,
    "weight" TEXT,
    "height" TEXT,
    "phone" TEXT NOT NULL,
    "email" TEXT,
    "address" TEXT,
    "aadhaar" TEXT,
    "uhid" TEXT,
    "passport" TEXT,
    "referralType" TEXT,
    "refDoctor" TEXT,
    "collectionAt" TEXT,

    CONSTRAINT "Patient_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Bill" (
    "id" SERIAL NOT NULL,
    "billNumber" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "patientId" INTEGER NOT NULL,
    "doctorId" INTEGER,
    "approvedBy1Id" INTEGER,
    "approvedBy2Id" INTEGER,
    "subTotal" DOUBLE PRECISION NOT NULL,
    "discountPercent" DOUBLE PRECISION,
    "discountAmount" DOUBLE PRECISION,
    "discountReason" TEXT,
    "netAmount" DOUBLE PRECISION NOT NULL,
    "paidAmount" DOUBLE PRECISION NOT NULL,
    "dueAmount" DOUBLE PRECISION NOT NULL,
    "isFullyPaid" BOOLEAN NOT NULL DEFAULT false,
    "isDeleted" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Bill_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BillItem" (
    "id" SERIAL NOT NULL,
    "billId" INTEGER NOT NULL,
    "testId" INTEGER NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,
    "isUrgent" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT NOT NULL DEFAULT 'Pending',
    "notes" TEXT,

    CONSTRAINT "BillItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TestResult" (
    "id" SERIAL NOT NULL,
    "billItemId" INTEGER NOT NULL,
    "parameterId" INTEGER,
    "resultValue" TEXT,
    "flag" TEXT,
    "remarks" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TestResult_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Payment" (
    "id" SERIAL NOT NULL,
    "billId" INTEGER NOT NULL,
    "mode" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "transactionId" TEXT,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Payment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Doctor" (
    "id" SERIAL NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'Doctor',
    "name" TEXT NOT NULL,
    "code" TEXT,
    "hospital" TEXT,
    "degree" TEXT,
    "commission" DOUBLE PRECISION DEFAULT 0,
    "contactPerson" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "specialization" TEXT,
    "clinicName" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Doctor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Test" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "displayName" TEXT,
    "price" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "departmentId" INTEGER,
    "methodId" INTEGER,
    "specimenId" INTEGER,
    "vacutainerId" INTEGER,
    "gender" TEXT DEFAULT 'Both',
    "type" TEXT NOT NULL DEFAULT 'Test',
    "description" TEXT,
    "sampleVolume" TEXT,
    "barcodeCopies" INTEGER DEFAULT 1,
    "minDays" INTEGER DEFAULT 0,
    "minHours" INTEGER DEFAULT 0,
    "minMinutes" INTEGER DEFAULT 0,
    "maxDays" INTEGER DEFAULT 0,
    "maxHours" INTEGER DEFAULT 0,
    "maxMinutes" INTEGER DEFAULT 0,
    "resultType" TEXT DEFAULT 'Parameter',
    "template" TEXT DEFAULT 'Default',
    "instructions" TEXT,
    "isInterpretationNeeded" BOOLEAN NOT NULL DEFAULT false,
    "interpretation" TEXT,
    "reportTitle" TEXT,
    "colCaption1" TEXT,
    "colCaption2" TEXT,
    "colCaption3" TEXT,
    "colCaption4" TEXT,
    "colCaption5" TEXT,
    "labEquiName" TEXT,
    "isFormulaNeeded" BOOLEAN NOT NULL DEFAULT false,
    "isCountNeeded" BOOLEAN NOT NULL DEFAULT false,
    "targetCount" INTEGER,
    "lmpRequired" BOOLEAN NOT NULL DEFAULT false,
    "idRequired" BOOLEAN NOT NULL DEFAULT false,
    "consentRequired" BOOLEAN NOT NULL DEFAULT false,
    "printNextPage" BOOLEAN NOT NULL DEFAULT false,
    "billingOnly" BOOLEAN NOT NULL DEFAULT false,
    "isCulture" BOOLEAN NOT NULL DEFAULT false,
    "cultureColumns" TEXT,
    "isOutsourced" BOOLEAN NOT NULL DEFAULT false,
    "outsourceLabId" INTEGER,
    "isConfigured" BOOLEAN NOT NULL DEFAULT false,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "normalRange" TEXT,
    "units" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Test_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PackageTest" (
    "id" SERIAL NOT NULL,
    "packageId" INTEGER NOT NULL,
    "testId" INTEGER NOT NULL,

    CONSTRAINT "PackageTest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TestParameter" (
    "id" SERIAL NOT NULL,
    "testId" INTEGER NOT NULL,
    "parameterId" INTEGER,
    "order" INTEGER NOT NULL DEFAULT 0,
    "isHeading" BOOLEAN NOT NULL DEFAULT false,
    "headingText" TEXT,
    "isCultureField" BOOLEAN NOT NULL DEFAULT false,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "formula" TEXT,
    "isCountDependent" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "TestParameter_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Parameter" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "displayName" TEXT,
    "code" TEXT,
    "department" TEXT DEFAULT 'HEMATOLOGY',
    "price" DOUBLE PRECISION DEFAULT 0,
    "unit" TEXT,
    "method" TEXT,
    "inputType" TEXT NOT NULL DEFAULT 'Numerical',
    "decimals" INTEGER DEFAULT 2,
    "resultAlignment" TEXT DEFAULT 'Beside',
    "isMultiValue" BOOLEAN NOT NULL DEFAULT false,
    "options" TEXT[],
    "reportTitle" TEXT,
    "colCaption1" TEXT,
    "colCaption2" TEXT,
    "colCaption3" TEXT,
    "colCaption4" TEXT,
    "colCaption5" TEXT,
    "isFormula" BOOLEAN NOT NULL DEFAULT false,
    "billingOnly" BOOLEAN NOT NULL DEFAULT false,
    "gender" TEXT DEFAULT 'Both',
    "minAge" INTEGER DEFAULT 0,
    "maxAge" INTEGER DEFAULT 100,
    "ageUnit" TEXT DEFAULT 'Years',
    "minVal" DOUBLE PRECISION,
    "maxVal" DOUBLE PRECISION,
    "criticalLow" DOUBLE PRECISION,
    "criticalHigh" DOUBLE PRECISION,
    "lowMessage" TEXT,
    "highMessage" TEXT,
    "panicMessage" TEXT,
    "interpretation" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Parameter_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ParameterRange" (
    "id" SERIAL NOT NULL,
    "parameterId" INTEGER NOT NULL,
    "gender" TEXT NOT NULL DEFAULT 'Both',
    "minAge" INTEGER NOT NULL DEFAULT 0,
    "maxAge" INTEGER NOT NULL DEFAULT 100,
    "minAgeUnit" TEXT NOT NULL DEFAULT 'Years',
    "maxAgeUnit" TEXT NOT NULL DEFAULT 'Years',
    "normalOperator" TEXT NOT NULL DEFAULT 'Between',
    "lowRange" DOUBLE PRECISION,
    "highRange" DOUBLE PRECISION,
    "normalRange" TEXT,
    "normalValue" TEXT,
    "abnormalValue" TEXT,
    "criticalOperator" TEXT NOT NULL DEFAULT 'Between',
    "criticalLow" DOUBLE PRECISION,
    "criticalHigh" DOUBLE PRECISION,
    "criticalValue" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ParameterRange_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Department" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Department_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Specimen" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT,
    "container" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Specimen_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Vacutainer" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "color" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Vacutainer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Method" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Method_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UOM" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UOM_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Operator" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "symbol" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Operator_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LabList" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "values" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LabList_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LabProfile" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL DEFAULT 'Lab Seven',
    "tagline" TEXT,
    "address" TEXT NOT NULL DEFAULT '123 Health Avenue, Medical District',
    "phone" TEXT NOT NULL DEFAULT '+1 234 567 890',
    "email" TEXT,
    "website" TEXT,
    "logoUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LabProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReportSettings" (
    "id" SERIAL NOT NULL,
    "doc1Name" TEXT DEFAULT 'Dr. John Doe',
    "doc1Designation" TEXT DEFAULT 'Chief Pathologist',
    "doc1SignUrl" TEXT,
    "doc2Name" TEXT,
    "doc2Designation" TEXT,
    "doc2SignUrl" TEXT,
    "marginTop" INTEGER NOT NULL DEFAULT 120,
    "marginBottom" INTEGER NOT NULL DEFAULT 80,
    "marginLeft" INTEGER NOT NULL DEFAULT 40,
    "marginRight" INTEGER NOT NULL DEFAULT 40,
    "marginSettings" TEXT,
    "tableStyle" TEXT NOT NULL DEFAULT 'grid',
    "fontFamily" TEXT NOT NULL DEFAULT 'font-sans',
    "fontSize" TEXT NOT NULL DEFAULT 'text-xs',
    "rowPadding" TEXT NOT NULL DEFAULT 'py-1.5',
    "labelBold" BOOLEAN NOT NULL DEFAULT true,
    "dataBold" BOOLEAN NOT NULL DEFAULT false,
    "leftColFields" TEXT,
    "rightColFields" TEXT,
    "leftColWidth" TEXT NOT NULL DEFAULT '35 65',
    "rightColWidth" TEXT NOT NULL DEFAULT '35 65',
    "headerQrCode" BOOLEAN NOT NULL DEFAULT false,
    "showMethodCol" BOOLEAN NOT NULL DEFAULT true,
    "methodDisplayStyle" TEXT NOT NULL DEFAULT 'column',
    "showUnitCol" BOOLEAN NOT NULL DEFAULT true,
    "showRefRangeCol" BOOLEAN NOT NULL DEFAULT true,
    "highlightAbnormal" BOOLEAN NOT NULL DEFAULT true,
    "stripedRows" BOOLEAN NOT NULL DEFAULT false,
    "testColumnWidth" TEXT NOT NULL DEFAULT 'auto',
    "colWidthParam" TEXT,
    "colWidthResult" TEXT,
    "colWidthUnit" TEXT,
    "colWidthRef" TEXT,
    "colWidthMethod" TEXT,
    "bodyTableStyle" TEXT NOT NULL DEFAULT 'horizontal',
    "bodyFontFamily" TEXT NOT NULL DEFAULT 'font-sans',
    "bodyFontSize" TEXT NOT NULL DEFAULT 'text-sm',
    "bodyRowHeight" TEXT NOT NULL DEFAULT 'py-2',
    "bodyColPadding" TEXT NOT NULL DEFAULT 'px-2',
    "bodyHeaderBgColor" TEXT NOT NULL DEFAULT 'bg-slate-50',
    "bodyHeaderTextColor" TEXT NOT NULL DEFAULT 'text-slate-800',
    "bodyResultAlign" TEXT NOT NULL DEFAULT 'text-left',
    "showDepartmentName" BOOLEAN NOT NULL DEFAULT true,
    "departmentNameSize" TEXT NOT NULL DEFAULT 'text-sm',
    "testNameAlignment" TEXT NOT NULL DEFAULT 'text-center',
    "testNameUnderline" BOOLEAN NOT NULL DEFAULT true,
    "testNameSize" TEXT NOT NULL DEFAULT 'text-base',
    "gridLineThickness" TEXT NOT NULL DEFAULT '1',
    "subheadingColor" TEXT NOT NULL DEFAULT '#5e35b1',
    "subheadingSize" TEXT NOT NULL DEFAULT 'text-sm',
    "footerStyle" TEXT NOT NULL DEFAULT 'style1',
    "sigSize" INTEGER NOT NULL DEFAULT 40,
    "sigSpacing" INTEGER NOT NULL DEFAULT 4,
    "docNameSize" INTEGER NOT NULL DEFAULT 10,
    "docDesigSize" INTEGER NOT NULL DEFAULT 8,
    "docNameSpacing" INTEGER NOT NULL DEFAULT 2,
    "sigAlignment" TEXT NOT NULL DEFAULT 'center',
    "showQrCode" BOOLEAN NOT NULL DEFAULT true,
    "showBarcode" BOOLEAN NOT NULL DEFAULT false,
    "showPageNumbers" BOOLEAN NOT NULL DEFAULT true,
    "showEndOfReport" BOOLEAN NOT NULL DEFAULT true,
    "qrPlacement" TEXT NOT NULL DEFAULT 'footer',
    "qrText" TEXT NOT NULL DEFAULT 'Scan to validate',
    "barcodeText" TEXT NOT NULL DEFAULT 'none',
    "letterheadStyle" TEXT NOT NULL DEFAULT 'none',
    "paperSize" TEXT NOT NULL DEFAULT 'A4',
    "printOrientation" TEXT NOT NULL DEFAULT 'portrait',
    "customHeader1" TEXT,
    "customHeader2" TEXT,
    "customHeader3" TEXT,
    "customHeader4" TEXT,
    "deltaSettings" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ReportSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,
    "username" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "degree" TEXT,
    "signName" TEXT,
    "designation" TEXT,
    "regNumber" TEXT,
    "signText1" TEXT,
    "signText2" TEXT,
    "signatureUrl" TEXT,
    "isDefaultSignature" BOOLEAN NOT NULL DEFAULT false,
    "allowConcession" BOOLEAN NOT NULL DEFAULT false,
    "concessionLimit" DOUBLE PRECISION DEFAULT 0,
    "isBillingOnly" BOOLEAN NOT NULL DEFAULT false,
    "roleId" INTEGER,
    "doctorId" INTEGER,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Role" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Role_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Permission" (
    "id" SERIAL NOT NULL,
    "module" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "description" TEXT,

    CONSTRAINT "Permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RolePermission" (
    "id" SERIAL NOT NULL,
    "roleId" INTEGER NOT NULL,
    "permissionId" INTEGER NOT NULL,

    CONSTRAINT "RolePermission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserPermission" (
    "id" SERIAL NOT NULL,
    "userId" INTEGER NOT NULL,
    "permissionId" INTEGER NOT NULL,

    CONSTRAINT "UserPermission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Organism" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Organism_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Antibiotic" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "group" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Antibiotic_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AntibioticClass" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AntibioticClass_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AntibioticInterpretation" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AntibioticInterpretation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SusceptibilityInfo" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "details" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SusceptibilityInfo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_AntibioticToOrganism" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "Patient_patientId_key" ON "Patient"("patientId");

-- CreateIndex
CREATE UNIQUE INDEX "Bill_billNumber_key" ON "Bill"("billNumber");

-- CreateIndex
CREATE UNIQUE INDEX "Test_code_key" ON "Test"("code");

-- CreateIndex
CREATE UNIQUE INDEX "PackageTest_packageId_testId_key" ON "PackageTest"("packageId", "testId");

-- CreateIndex
CREATE UNIQUE INDEX "Parameter_code_key" ON "Parameter"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Department_code_key" ON "Department"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Specimen_code_key" ON "Specimen"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Vacutainer_code_key" ON "Vacutainer"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Method_code_key" ON "Method"("code");

-- CreateIndex
CREATE UNIQUE INDEX "UOM_code_key" ON "UOM"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Operator_code_key" ON "Operator"("code");

-- CreateIndex
CREATE UNIQUE INDEX "LabList_code_key" ON "LabList"("code");

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_doctorId_key" ON "User"("doctorId");

-- CreateIndex
CREATE UNIQUE INDEX "Role_name_key" ON "Role"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Permission_module_action_key" ON "Permission"("module", "action");

-- CreateIndex
CREATE UNIQUE INDEX "RolePermission_roleId_permissionId_key" ON "RolePermission"("roleId", "permissionId");

-- CreateIndex
CREATE UNIQUE INDEX "UserPermission_userId_permissionId_key" ON "UserPermission"("userId", "permissionId");

-- CreateIndex
CREATE UNIQUE INDEX "Organism_code_key" ON "Organism"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Antibiotic_code_key" ON "Antibiotic"("code");

-- CreateIndex
CREATE UNIQUE INDEX "AntibioticClass_code_key" ON "AntibioticClass"("code");

-- CreateIndex
CREATE UNIQUE INDEX "AntibioticInterpretation_code_key" ON "AntibioticInterpretation"("code");

-- CreateIndex
CREATE UNIQUE INDEX "SusceptibilityInfo_code_key" ON "SusceptibilityInfo"("code");

-- CreateIndex
CREATE UNIQUE INDEX "_AntibioticToOrganism_AB_unique" ON "_AntibioticToOrganism"("A", "B");

-- CreateIndex
CREATE INDEX "_AntibioticToOrganism_B_index" ON "_AntibioticToOrganism"("B");

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "Patient"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES "Doctor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_approvedBy1Id_fkey" FOREIGN KEY ("approvedBy1Id") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bill" ADD CONSTRAINT "Bill_approvedBy2Id_fkey" FOREIGN KEY ("approvedBy2Id") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BillItem" ADD CONSTRAINT "BillItem_billId_fkey" FOREIGN KEY ("billId") REFERENCES "Bill"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BillItem" ADD CONSTRAINT "BillItem_testId_fkey" FOREIGN KEY ("testId") REFERENCES "Test"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestResult" ADD CONSTRAINT "TestResult_billItemId_fkey" FOREIGN KEY ("billItemId") REFERENCES "BillItem"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestResult" ADD CONSTRAINT "TestResult_parameterId_fkey" FOREIGN KEY ("parameterId") REFERENCES "Parameter"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_billId_fkey" FOREIGN KEY ("billId") REFERENCES "Bill"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Test" ADD CONSTRAINT "Test_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Test" ADD CONSTRAINT "Test_methodId_fkey" FOREIGN KEY ("methodId") REFERENCES "Method"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Test" ADD CONSTRAINT "Test_specimenId_fkey" FOREIGN KEY ("specimenId") REFERENCES "Specimen"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Test" ADD CONSTRAINT "Test_vacutainerId_fkey" FOREIGN KEY ("vacutainerId") REFERENCES "Vacutainer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Test" ADD CONSTRAINT "Test_outsourceLabId_fkey" FOREIGN KEY ("outsourceLabId") REFERENCES "Doctor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PackageTest" ADD CONSTRAINT "PackageTest_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES "Test"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PackageTest" ADD CONSTRAINT "PackageTest_testId_fkey" FOREIGN KEY ("testId") REFERENCES "Test"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestParameter" ADD CONSTRAINT "TestParameter_testId_fkey" FOREIGN KEY ("testId") REFERENCES "Test"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestParameter" ADD CONSTRAINT "TestParameter_parameterId_fkey" FOREIGN KEY ("parameterId") REFERENCES "Parameter"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParameterRange" ADD CONSTRAINT "ParameterRange_parameterId_fkey" FOREIGN KEY ("parameterId") REFERENCES "Parameter"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "Role"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_doctorId_fkey" FOREIGN KEY ("doctorId") REFERENCES "Doctor"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RolePermission" ADD CONSTRAINT "RolePermission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "Role"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RolePermission" ADD CONSTRAINT "RolePermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES "Permission"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserPermission" ADD CONSTRAINT "UserPermission_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserPermission" ADD CONSTRAINT "UserPermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES "Permission"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AntibioticToOrganism" ADD CONSTRAINT "_AntibioticToOrganism_A_fkey" FOREIGN KEY ("A") REFERENCES "Antibiotic"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_AntibioticToOrganism" ADD CONSTRAINT "_AntibioticToOrganism_B_fkey" FOREIGN KEY ("B") REFERENCES "Organism"("id") ON DELETE CASCADE ON UPDATE CASCADE;

